# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Build
build/
dist/

# Test
.pytest_cache/

# Misc
*.log
